body{
font-family:Arial;
background:#f2f6fa;
margin:0;
}

.top-bar{
background:#0b3c5d;
color:white;
padding:15px 40px;
font-size:22px;
}


.history-container{
width:1000px;
margin:60px auto;
font-size:18px;
}
h2{
margin-bottom:30px;
color:#0b3c5d;
font-size:34px;
font-weight:bold;
}

.tabs{
display:flex;
gap:10px;
margin-bottom:25px;
}

.tab-btn{
padding:10px 20px;
border:none;
background:#dbeafe;
cursor:pointer;
border-radius:6px;
}

.tab-btn.active{
background:#0b3c5d;
color:white;
}

.tab-content{
display:none;
}

.tab-content.active{
display:block;
}

.ride-card{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:15px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.route{
.route{
font-weight:bold;
font-size:22px;
}

.info{
color:#555;
font-size:17px;
}

.price{
font-weight:bold;
color:#0b3c5d;
font-size:22px;
}
.btn{
padding:8px 12px;
border:none;
border-radius:6px;
cursor:pointer;
margin-left:8px;
}

.cancel-btn{
background:#ff4d4d;
color:white;
}

.feedback-btn{
background:#ffcd2b;
}

.view-btn{
background:#0b3c5d;
color:white;
}